{% load static %}

<footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="logo">
            <h6 class="text-white">RV in VR</h6>
          </div>
          <div class="contact-details">
            <p>Email: <a href="mailto:info@whiskerhead.com">Info@Whiskerhead.com</a></p>
            <ul class="social-menu">
              <li class="list-inline-item"><a href="https://www.instagram.com/r.b.sightsee/"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/whiskerhead/"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCJZqlxclno-cGXYgbMW0m1g"><i class="fa fa-youtube"></i></a></li>
              <li class="list-inline-item"><a href="https://www.cbretnichols.com/"><i class="fa fa-video-camera"></i></a></li>
              <li class="list-inline-item"><a href="https://www.google.com/maps/contrib/113799526617507898655/photos/@19.7031002,-155.1203197,14z/data=!3m1!4b1!4m3!8m2!3m1!1e1"><i class="fa fa-globe"></i></a></li>
              <li class="list-inline-item"><a href="https://cbretnichols.info/"><i class="fa fa-laptop"></i></a></li>
              <li class="list-inline-item"><a href="https://www.cbretnichols.com/copy-of-tiny-planet-3600-photography"><i class="fa fa-camera"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="menus d-flex">
            <ul class="list-unstyled">
              <li> <a href="#">Login</a></li>
              <li> <a href="#">Privacy Policy</a></li>
            </ul>
            <ul class="list-unstyled">
              <li> <a href="about/">About | Contact</a></li>
              <li> <a href="#">Our Partners | FAQ</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="latest-posts">
              {% for post in most_recent %}
            <a href="{{ post.get_absolute_url }}">
              <div class="post d-flex align-items-center">
              <div class="image"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid"></div>
              <div class="title"><strong>{{ post.title }}</strong><span class="date last-meta">{{ post.timestamp }}</span></div>
              </div>
              </a>
              <a href="{{ post.get_absolute_url }}">
                  {% endfor %}
              </div>
      </div>
    </div>
    <div class="copyrights">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>&copy; 2019. All rights reserved. Whiskerhead, LLC</p>
          </div>
          <div class="col-md-6 text-right">
            <p>Template By <a href="https://bootstrapious.com/p/bootstrap-carousel" class="text-white">Bootstrapious</a>
              <!-- Please do not remove the backlink to Bootstrap Temple unless you purchase an attribution-free license @ Bootstrap Temple or support us at http://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :)                         -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>